label {
    display: block;
    margin: 8px 0 4px;
  }
  
  input, select {
    margin-bottom: 10px;
    display: block;
  }
  
  div {
    color: red;
    font-size: 12px;
  }
  
  button {
    margin-top: 10px;
  }