<form [formGroup]="Form" (ngSubmit)="onSubmit()">
    <label for="destination">Destino</label>
    <select id="destination" formControlName="destination">
      <option value="">Selecione um destino</option>
      <option value="Paris">Paris</option>
      <option value="Nova York">Nova York</option>
      <option value="Tóquio">Tóquio</option>
      <option value="Rio de Janeiro">Rio de Janeiro</option>
    </select>
    <div *ngIf="Form.get('destination')?.invalid && Form.get('destination')?.touched">
      {{ getErrorMessage('destination') }}
    </div>
  
    <label for="departureDate">Data de Ida</label>
    <input type="date" id="departureDate" formControlName="departureDate">
    <div *ngIf="Form.get('departureDate')?.invalid && Form.get('departureDate')?.touched">
      {{ getErrorMessage('departureDate') }}
    </div>
  
    <label for="returnDate">Data de Volta</label>
    <input type="date" id="returnDate" formControlName="returnDate">
    <div *ngIf="Form.get('returnDate')?.invalid && Form.get('returnDate')?.touched">
      {{ getErrorMessage('returnDate') }}
    </div>
  
    <label for="passengers">Número de Passageiros</label>
    <input type="number" id="passengers" formControlName="passengers" min="1" max="5">
    <div *ngIf="Form.get('passengers')?.invalid && Form.get('passengers')?.touched">
      {{ getErrorMessage('passengers') }}
    </div>
  
    <label for="email">E-mail de Contato</label>
    <input type="email" id="email" formControlName="email">
    <div *ngIf="Form.get('email')?.invalid && Form.get('email')?.touched">
      {{ getErrorMessage('email') }}
    </div>
    <button type="submit" [disabled]="Form.invalid">Enviar</button>
    </form>